{% extends "base.html" %}

{% block content %}
<h1 align="center">Works log</h1>
<a class="btn btn-secondary" href="/addajob">Add job</a>
{% if current_user.is_authenticated %}
      <a class="navbar-brand pull-right"><strong>{{ current_user.name }}</strong></a>
<a class="btn btn-success" href="/logout">Выйти</a>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
{% endif %}
{% for item in jobs%}
<div class="col-md6 border rounded">
    <h2>Action # {{item.id}}</h2>
    <table class="table table-bordered">
   <thead>
     <tr>
       <th scope="col" class="table-secondary">Title or activity</th>
       <th scope="col" class="table-secondary">Team leader</th>
       <th scope="col" class="table-secondary">Duration</th>
       <th scope="col" class="table-secondary">List of collaborators</th>
         <th scope="col" class="table-secondary">Is finished</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row" class="table-info">{{item.job}}</th>
       <td class="table-info">{{item.user.name}}</td>
       <td class="table-info">{{item.work_size}}</td>
       <td class="table-info">{{item.collaborators}}</td>
       <td class="table-danger">{% if item.is_finished == False %} Is not finished {% else %} Is finished {% endif %}</td>
         {% if current_user.id == item.teamleader or current_user.id == 1 %}
         <a class="btn btn-warning" href="/edit/{{item.id}}">Edit job</a>
         <a class="btn btn-danger" href="/delete/{{item.id}}">Delete job</a>
         {% endif %}
     </tr>
   </tbody>
 </table>
</div>
{% endfor %}
{% endblock %}